.homepage{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

@media (max-width: 710px) {
    .homepage{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
        height: 100vh;
    }
}